{% extends "home.html" %}
{% load static %}

{% block title %}User Profile{% endblock %}
{%block extra_css%}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{%endblock%}

{% block content %}
<div class="profile-container">

  <h2 class="username">
    {{ profile_user.username }}
    {% if user == profile_user %}
        <small style="font-size:12px;">
        (<a href="{% url 'edit_profile' %}">edit</a>)
        </small>
    {% endif %}
  </h2>


  <div class="profile-info">
    <p><span>joined:</span> {{ profile_user.date_joined|date:"d M Y" }}</p>
    <p><span>karma:</span> {{ profile_user.karma }}</p>
    <p><span>posts:</span> {{ profile_user.submissions.count }}</p>
  </div>

  <div class="profile-about">
    <h4>about</h4>
    <p>
      {% if profile_user.bio %}
        {{ profile_user.bio }}
      {% else %}
        This user hasn’t written anything yet.
      {% endif %}
    </p>
  </div>

</div>
{% endblock %}
