body {
  font-family: Verdana, sans-serif;
  font-size: 13px;
  background-color:  #f6f6ef;
  margin-left: 5%;
  margin-right:5%
}

.navbar {
  background-color: #ff6600;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-img {
  width: 18px;
  height: 18px;
  border: 1px solid white;
}

.nav-title {
  font-weight: bold;
}

.submit-container {
  padding: 15px;
}

.form-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 6px;
}

label {
  width: 40px;
  color: #828282;
  color:#242323
}

input,
textarea {
  width: 500px;
  font-size: 13px;
  padding: 2px;
  
}

textarea {
  resize: vertical;
}

button {
  margin-left: 40px;
  padding: 2px 6px;
  font-size: 13px;
  background-color: #FFDAB9;
  border-radius: 10px;
  font-weight: bold;
}
button:hover{
    background-color: #ff6600;

}

.help-text {
  margin-top: 15px;
  max-width: 540px;
  color: #242323;
}

.help-text a {
  color: black;
}
