body {
  background-color: #ffffff;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #000;
}

a {
  color: #0000cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 500px;
  border-collapse: collapse;
}

.content {
  background-color: #fafaf0;
  padding: 0;
}

p {
  margin: 12px 0;
  line-height: 1.4;
}

.footer-bar {
  width: 100%;
  height: 10px;
  background-color: #ff6600;
  border-collapse: collapse;
}
